# File used to ignore certain files in order to stop them from being commited

# Ignores Introducciones-main repository
/Introducciones-main

# Ignores __pycache__
/p01_uninformed_search/__pycache__

# Ignores all object files
*.o

# Ignores all executable files
*.exe
*.out
p01_uninformed_search